
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/main.css">
    <title></title>
    <style>
        table, th, td {
            border:1px solid black;
            border-collapse:collapse;

        }
        th{
            padding-bottom: 20px;
            padding-top: 20px;
            padding-left: 30px;
            padding-right: 30px;
            margin-left: auto;

        }
        td{
            padding-left: 20px;
            padding-right: 20px;
        }

    </style>

</head>
<body>
<h1 class="h1 text-center mb-3 mt-5 ml-autoz">Students Expenditure September-December 2023 Semester</h1>
<hr>
<h1 class="text-center mt-1">computer science Department</h1>
<hr>
Welcome to my world!<br>
<a href="mailto:email@echoecho.com?subject=SweetWords">
Send Email</a>


<table style="width: 70%" class="table mt-5 ml-auto mr-auto">
    <tr>
        <th rowspan="8" class="text-center"><br><br><br><br><br>Faculty of Science Department CUEA Statistics Langata </th>
        <th>Student name</th>
        <th>Student admission number</th>
        <th>rent</th>
        <th colspan="3" class="text-center">utilities<br>(water, electrical bills & maintenance bills)</th>
    </tr>
    <tr>
        <td>Emmanuel Sechere</td>
        <td>1038309</td>
        <td>$100</td>
        <td>$200</td>
        <td>$300</td>
        <td>$120</td>
    </tr>
    <tr>
        <td>Christopher Cooper</td>
        <td>1038319</td>
        <td>$100</td>
        <td>$120</td>
        <td>$130</td>
        <td>$140</td>
    </tr>
    <tr>
        <td>Mercy Jemutai</td>
        <td>1038329</td>
        <td>$300</td>
        <td>$120</td>
        <td>$130</td>
        <td>$140</td>
    </tr>
</table>
<p class="text-center">
    <strong>Registration number: <span>1061015</span> </strong>
</p>
<table>
<tr> <td>This is row one, left side.</td>
    <td>This is row one, right
side.</td></tr>
<tr> <td>This is row two, left side.</td> <td>This is row two, right
side.</td> </tr>
</table>



</body>
</html>