<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML FRAMES</title>
    <style>
        table, th, td {
            border:1px solid black;
            border-collapse:collapse;

        }
        th{
            padding-bottom: 20px;
            padding-top: 20px;
            padding-left: 30px;
            padding-right: 30px;
            margin-left: auto;

        }
        td{
            padding-left: 20px;
            padding-right: 20px;
        }

    </style>
</head>
    <!-- Example: Using an iframe to embed a Google Map -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!...">
    Your browser does not support iframes.
</iframe>

<body>

</body>
</html>