{% extends 'master.html' %}
{% load static %}
{% block title %} ChangePassword {% endblock title %}
{% block content %}
    <div class="container my-5">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3> Password Confirm</h3>

                <form action="" novalidate class="shadow"  method="post">
                    {% csrf_token %}
                    {% for fm in form %}
                        {#      fm.errors          This part displays any validation errors associated with the form field#}
                        {#                striptags filter is used to remove any HTML tags from the error message to prevent potential security issues.#}
                        {{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors|striptags }}</small><br>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary"><br>
                    {% if form.non_field_errros %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}<br>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}
